<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Pagination Bar -->
<div th:fragment='paginationbar'>

    <ul class="pagination">
        <li>   <span th:text="'Страница ' + ${command.page}">1/10</span></li>
        <li><a th:href="@{'?page=1'}">Начало</a></li>
        <li><a th:href="@{'?page=' + ${command.page - 1}}">Предыдущая</a></li>
        <li><a>...</a></li>
        <li th:each="page : ${command.pageList}">
            <a th:href="@{'?page=' + ${page}}" th:text="${page}"></a>
        </li>
        <li><a>...</a></li>
        <li><a th:href="@{'?page=' + ${command.page + 1}}">Следующая</a></li>
        <li><a th:href="@{'?page=' + ${command.lastPage}}">Конец</a></li>
    </ul>

</div>
</html>